<configuration>

    <property resource="static.properties"/>

    <appender name="STDOUT" class="com.github.sahlone.klogging.CapturingAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonFactoryDecorator class="com.github.sahlone.klogging.LoggerDecorator"/>
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <logstashMarkers/>
                <arguments/>
                <pattern>
                    <pattern>
                        {
                        "service":"${service}",
                        "version":"${version}",
                        "environment":"${environment}",
                        "host":"${host}",
                        "logger": "%logger",
                        "level": "%level",
                        "thread": "%thread",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <provider class="com.github.sahlone.klogging.ErrorProvider"/>
                <stackTrace>
                    <fieldName>error-stacktrace</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
                <stackHash>
                    <fieldName>error-stackhash</fieldName>
                </stackHash>
            </providers>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
